.navbar {
  height: 100px;
  width: 100%;
  color: rgb(77, 77, 77);
  background-color: #fff;
  display: inline-block;
  text-align: center;
}
.navbar > span {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
}
.navbar > button {
  background-color: rgba(46, 47, 47, 0.815);
  color: white;
  padding: 5px;
  outline: none;
  border: none;
}
.navbar > button:hover {
  border-bottom: 1px solid rgb(231, 115, 231);
}
