.slider-outerbox {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border: 1px solid red;
  margin-bottom: 50px;
}

.slider-innerbox {
  position: absolute;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.imgbox {
  margin-left: 20px;
  height: 500px;
  width: 300px;
  border: 1px solid black;
}
.container {
  padding: 2px 16px;
}
.left-button,
.right-button {
  top: 50%;
  position: absolute;
  z-index: 1;
}
.right-button {
  right: 0;
}
/* floating button which shifts the slider* */
